*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    color: #e9e9e9
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #022873;
}

header{
    display: flex;
    height: 3rem;
    width: 100%;
    padding: 0 2rem;
    align-items: center;
    background: rgba(0,0,0,.4);
    font-size: 1.6rem;
}

main{
    display: flex;
    flex-direction: column;
    position:relative;
    width: 100%;
    min-height: calc(100vh - 3rem);
    align-items: center;
    background: rgba(0,0,0,.5);
    overflow: hidden;
    padding: 0 1rem;
}

.searcher{
    display: flex;
    align-items: center;
    height: 5rem;
}

#city-input{
    background: transparent;
    height: 3rem;
    border: solid #595959 2px;
    border-radius: 20px;
    font-size: 1.3rem;
    margin-right: 1rem;
    padding-left: 1rem;
}

#city-input:focus{
    outline: none;
    border-radius: 20px;
    border: solid 2px #e9e9e9;
    background: rgba(250,250,250,.1);
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
}
    .search-button>i{
        font-size: xx-large;    
    }

.weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: x-large;
}

.weather-container>span{
    font-size: xx-large;
    margin: 1rem 0;
}

.current-weather{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-weight: 900;
    background: rgba(0,0,0,.4);
}

.weather-prediction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin-bottom: 1rem;
}

.daily-prediction{
    display: flex;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background: rgba(0,0,0,.4);
    font-size: 1.2rem;
}

.current-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
    .current-information > span{
        padding: 1rem 0;
        font-size: 1.2rem;
    }

.current-icon{
    height: 8rem;
    width: 8rem;
}

.daily-icon{
    height: 4rem;
    width: 4rem;
}


footer{
    display: flex;
    height: 3rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.35);
}

@media(min-width: 568px){
    .current-icon{
        width: 10rem;
        height: 10rem;
    }

    .weather-prediction{
        width: 90%;
        flex-direction: row;
    }

    .daily-prediction{
        width: 18%;
        height: fit-content;
        flex-direction: column;
    }

    .daily-prediction > span{
        margin: .5rem 0;
    }
}

@media(min-width:1224px){
    .weather-container{
        max-width: 60rem;
    }
}